.container-fluid {
  border: 0px !important;
  padding: 0px !important;
}
#image {
  position: relative;
  text-align: center;
}
.img-fluid {
  width: 100% !important;

  height: 400px !important;
}
.content {
  font-weight: bold;
  font-style: italic;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#blog {
  margin-top: 50px;
  padding-left: 10% !important;
  padding-right: 25% !important;
  margin-left: 130px !important;
}
.btn {
  background-color: #f87c0e !important;
  color: white !important;
  border-radius: 5px !important;
  border-color: #f87c0e;
  float: right !important;
}
.heading {
  font-size: 2em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.icon {
  margin-left: 15px;
  height: 25px;
  width: 20px;
}
.oneblog {
  padding-top: 15px;
  padding-bottom: 15px;
}
